{{> head }}

    {{> navbar }}

<div class="row">
    <div class="col-6">
        <h1> Sony World Photografy </h1>
        <p>Los mayores talentos de la fotografía mundial se han presentado a las distintas categorías del certamen,
            que incluyen galerías profesionales, imágenes de estudiantes de fotografía, trabajos de jóvenes entre 12
            y 19 años e incluso un concurso abierto. Así hasta un total de 10 categorías. En concreto, los premios se
            dividen en cuatro secciones (Profesional, Abierto, Juventud y Enfoque Estudiantil) y este año, el concurso
            Profesional incluye dos nuevas categorías, "Creativo" y "Descubrimiento", mientras que el concurso Open también
            ofrece la categoría Fotografía de Calle, que es extremadamente apreciada, especialmente por los usuarios de las redes sociales.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/Volcan.jpg" class="img thumbnail">
    </div>
</div>
      {{> footer}}
